:root{
  --navy:#0d2159;
  --blue:#1a4fb4;
  --blue-light:#eaf1fb;
  --green:#2e8b3d;
  --green-dark:#256e30;
  --orange:#f2931e;
  --orange-dark:#d97e0f;
  --gray-text:#5b6472;
  --border:#c9d6ea;
  --bg:#fbfcfe;
  --red:#c0392b;
  --red-dark:#992e22;
  --teal:#2fa9ad;
  --teal-dark:#20807e;
  --cyan:#1ea3b8;
  --cyan-dark:#166c7b;
  --gold:#e5a11a;
  --gold-dark:#b87e0e;
}
*{ box-sizing:border-box; }

html{
  scroll-behavior:smooth;
}

/*CONFIGURACION GENERAL*/

body{
  font-family: "Segoe UI", Arial, sans-serif;
  background: var(--bg);
  color: var(--navy);
}
header{
  background: var(--blue);
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding: 18px 40px;
}
.logo{
  display:flex;
  align-items:center;
  gap:14px;
  color:#fff;
}
/* cuadro donde esta el logo de portoviejo */
.logo img{
  width:46px;
  height:56px;
  background:rgba(255,255,255,0.15);
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:24px;
}
/* nombre principal */
.logo-text .title{
  font-weight:800;
  font-size:20px;
  letter-spacing:0.5px;
}
/* texto pequeño */
.logo-text .subtitle{
  font-size:12px;
  opacity:0.9;
  letter-spacing:0.5px;
}

/* boton ayuda*/
.help-btn{
  background:white;
  color:var(--blue);
  border-radius:999px;
  padding:12px 26px;
  font-size:17px;
  font-weight:700;
  display:flex;
  align-items:center;
  gap:8px;
  cursor:pointer;

}

/* círculo con el signo ? */
.help-btn .q{
  width:22px;
  height:22px;
  background:var(--blue);
  color:white;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:14px;
}

@media (max-width: 700px){
  header{
    padding:14px 18px;
  }
}
